body{
  margin: 0%;
  height: 100%;
  background-image: url(image/navBack.jpg);
  background-size: cover;
}
.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    grid-auto-flow: column;
}
nav{
  grid-column: 1/4;
  grid-row: 1/1;
  background-color: #00000086;
  height: 60%;
  margin: bottom 4px;;
  border-radius: 2%;

}



#Name{
  color: #fff;
  position: relative;
  text-align: center;
  top: 34%; 
  width: auto;
}
#Content1{
  grid-column:1/4;
  grid-row: 2/3;
  justify-items: center;
  margin-top: 10px;
  color: #fff;
}
h2{
  padding: 5px;
}
#Content1F{
  width: 20%;
  float: left;
  padding: auto;
  border: 10px;
  margin: 0 20px 20px 0;  
}
.ContentZ{
  padding: 20px;
  border: #00000000;
   backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); 
  background-color: #00000065;
  height: 100%;
  line-break: normal;
  font-size: 23px;
  padding: 10px;
  justify-items: center;
  border-radius: 2%;
}
button{
 -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 30px;
  border-radius: 21%;
  background: #000000;
  color: #fff;
  padding: 8px 16px;
  font-size: 25px;
  margin-top: 20%;
  margin-left: 10px;
}
button:hover {
  background: #512080;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #76668fb0;
}
footer{
  grid-row: 3/4;
  grid-column: 1/4;
}

